<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
	<title>Recipe Home</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		 <link rel="stylesheet" 
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
			
			th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
			th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
    		th:src="@{/webjars/popper.js/1.12.9-1/popper.js}"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    		 th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script> 
		<style type="text/css">
			.card-body {
			padding: 0;
			}
			.tab-header {
			background-color: grey;
			}
		</style>
	</head>
	
	<body>
		<div class="container container-fluid" style="margin-top: 20px;">
		 <div class="row">
		 	<div class="col-md-10 col-md-offset-3">
		 		<div class="card" style="display:block;">
		 			<div class="card-header text-center">
		 				<div class="card-title">Recipe List</div>
		 			</div>
		
		 			<div class="card-body">
		 				<div class="table-responsive" th:if= "${not #lists.isEmpty(recipes)}">
		 					<table class="table table-hover" >
								<thead class="tab-header">
									<tr>
										<th >ID</th>
										<th >Description</th>
										<th>View</th>
									</tr>
								</thead>
								<tbody>
									<tr  th:each="recipe : ${recipes}" >
										<td   th:text="${recipe.id}">123</td>
										<td   th:text="${recipe.description}">Recipe Description</td>
										<td><a th:href= "@{'/recipe/show/'+${recipe.id}}">View</a>
									</tr>
								</tbody>
							</table>
		 				</div>
		 			</div>
		 		</div>
		 	</div>
		 </div>
		<br/>
		<h4 th:text="${message}">Message will be displayed here</h4>
		</div>
	</body>
</html>
